@model ICollection<HomePropertiesViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_StatusMessage", (string)ViewBag.statusMessage)
<div class="jumbotron">
    <h1 class="display-4">Welcome to OMX!</h1>
    <p class="lead">Largest real estate platform in Bulgaria!</p>
    <hr class="my-4">
    <p>Below you will be able to see our featured listings!</p>

</div>

<br />
<h2 style="text-align:center">Featured Listings</h2>
<hr class="my-4">
@foreach (var property in Model)
{
    <div class="row">
        <div class="col-md-2">
            @if (!property.ImageNames.Any())
            {
                <div class="carousel-item active">
                    <img class="d-block w-100" width="100" height="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png">
                </div>
            }
            else
            {
                <img class="media-object" src="~/images/@property.Id/@property.ImageNames.Select(e=> e.Name).First()" width="120">
            }

            <div class="col-md-1">
                <br />
                <a asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id" class="btn btn-danger">Details</a>
            </div>
        </div>

        <div class="col-md-3">
            <p><strong>Title: </strong>@property.Title</p>
            <p><strong>For : </strong>@property.PropertyType.ToString()</p>
            <p><strong>Floor: </strong>@property.Floor</p>
        </div>
        <div class="col-md-3">
            <p><strong>Bathrooms: </strong>@property.NumberOfBathrooms</p>
            <p><strong>Bedrooms: </strong>@property.NumberOfBedrooms</p>
            <p><strong>Indoor Area: </strong>@property.IndoorArea SQM</p>
        </div>
        <div class="col-md-3">
            <p><strong>Outdoor Area: </strong>@property.OutdoorArea SQM</p>
            <p>
                <strong>Landplot Size: </strong><span>
                    @property.LandPlotSize SQM
                </span>
            </p>
            @if (property.Price == 0)
            {
                <p><strong>Price: </strong>Contact the owner for more information!</p>
            }
            else
            {
                <p><strong>Price: </strong>@property.Price @property.Currency.ToString()</p>
            }
        </div>
    </div>
    <hr class="my-4">
}