@page
@model OMX.Web.Pages.Issues.AllModel

@{

}
@Html.Partial("_HeaderSection", "Issues Management")

<br />
<h4 style="text-align:center">All Reports</h4>
<br />
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table100">
                    <thead>
                        <tr>
                            <th style="color:whitesmoke">
                                @Html.DisplayNameFor(model => model.Report[0].Description)
                            </th>
                            <th style="color:whitesmoke">
                                @Html.DisplayNameFor(model => model.Report[0].Url)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Report[0].Date)
                            </th>
                            <th style="color:whitesmoke">
                                Resolved?
                            </th>
                            <th style="color:whitesmoke">
                                Author ID
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Report)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Url)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    <form method="post">
                                        @if (!item.IsResolved)
                                        {
                                            <button type="submit" class="btn btn-primary" asp-page-handler="resolve"
                                                    asp-route-id="@item.Id">
                                                Resolve
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-success" disabled"
                                                    asp-route-id="@item.Id">
                                                Resolved!
                                            </button>
                                        }
                                    </form>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Id)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
