@using Microsoft.AspNetCore.Identity
@model HomePropertiesViewModel
@inject SignInManager<User> SignInManager
@{
    var type = Model.PropertyType;
    var purpose = string.Empty;
    var style = string.Empty;    
    if (type == 0)
    {
        purpose = "FOR SALE";
        style = "sale-notic";
    }
    else
    {
        purpose = "FOR RENT";
        style = "rent-notic";
    }
}


<section class="page-top-section set-bg" data-setbg="/img/page-top-bg.jpg">
    <div class="container text-white">
        <h2>Property Details</h2>
    </div>
</section>
<!--  Page top end -->
<!-- Breadcrumb -->
<div class="site-breadcrumb">
    <div class="container">
        <a href=""><i class="fa fa-home"></i>Home</a>
        <span><i class="fa fa-angle-right"></i>Property Details</span>
    </div>
</div>
<!-- Page -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 single-list-page">
                <div class="single-list-slider owl-carousel" id="sl-slider">
                    @foreach (var picture in Model.ImageNames)
                    {
                        <div class="sl-item set-bg" data-setbg="/images/@picture.PropertyId/@picture.Name">
                            <div class="@style">@purpose</div>
                        </div>
                    }
                </div>
                <div class="owl-carousel sl-thumb-slider" id="sl-slider-thumb">
                    @foreach (var picture in Model.ImageNames)
                    {
                        <div class="sl-thumb set-bg" data-setbg="/images/@picture.PropertyId/@picture.Name"></div>
                    }
                </div>
                <div class="single-list-content">
                    <div class="row">
                        <div class="col-xl-8 sl-title">
                            <h2>@Model.Title</h2>
                            <p><i class="fa fa-map-marker"></i>@Model.Address.City</p>
                        </div>
                        <div class="col-xl-4">
                            @if (type == 0)
                            {
                                <a class="price-btn">$@Model.Price</a>
                            }
                            else
                            {
                                <a class="price-btn">$@Model.Price/month</a>    
                            }
                        </div>
                    </div>
                    <h3 class="sl-sp-title">Property Details</h3>
                    <div class="row property-details-list">
                        <div class="col-md-4 col-sm-6">
                            <p><i class="fa fa-th-large"></i> @Model.IndoorArea Square foot</p>
                            <p><i class="fa fa-bed"></i> @Model.NumberOfBedrooms Bedrooms</p>
                            <p><i class="fa fa-user"></i> Gina Wesley</p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p><i class="fa fa-building"></i> @Model.Floor Floor</p>
                            <p><i class="fa fa-clock-o"></i> @Model.PostedOn.ToString("dd/MM/yyyy") Posted</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fa fa-bath"></i> @Model.NumberOfBathrooms Bathrooms</p>

                        </div>
                    </div>
                    <h3 class="sl-sp-title">Description</h3>
                    <div class="description">
                        <p>@Model.Description</p>
                    </div>
                    <h3 class="sl-sp-title">Property Details</h3>
                    <div class="row property-details-list">
                        @foreach (var feature in Model.Features)
                        {
                            <div class="col-md-4 col-sm-6">

                                <p><i class="fa fa-check-circle-o"></i> @feature.Feature.Name</p>

                            </div>
                        }
                    </div>

                </div>
            </div>
            <!-- sidebar -->
            <div class="col-lg-4 col-md-7 sidebar">
                <div class="author-card">
                    <div class="author-img set-bg" data-setbg="/img/author.png"></div>
                    <div class="author-info">
                        <h5>@Model.User.FullName</h5>
                    </div>
                    <div class="author-contact">
                        <p><i class="fa fa-phone"></i>@Model.User.PhoneNumber</p>
                        <p><i class="fa fa-envelope"></i>@Model.User.Email</p>
                    </div>
                </div>
                <div class="contact-form-card">
                    <h5>Send a message to the owner!</h5>
                    <form method="post">
                        <label>Your Email:</label>
                        <input type="text" value="@this.User.Identity.Name" disabled>
                        <textarea name="Message" placeholder="Your message..."></textarea>
                        <button type="submit">SEND</button>
                    </form>
                </div>
                <div class="related-properties">
                </div>
            </div>
        </div>
    </div>
</section>



