@model Property
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-2">
        <img class="media-object" src="~/images/@Model.Id/@Model.ImageNames.Select(e=> e.Name).First()" width="120">
    </div>

    <div class="col-md-3">
        <p><strong>Title: </strong>@Model.Title</p>
        <p><strong>For : </strong>@Model.PropertyType.ToString()</p>
        <p><strong>Floor: </strong>@Model.Floor</p>
    </div>
    <div class="col-md-3">
        <p><strong>Bathrooms: </strong>@Model.NumberOfBathrooms</p>
        <p><strong>Bedrooms: </strong>@Model.NumberOfBedrooms</p>
        <p><strong>Indoor Area: </strong>@Model.IndoorArea SQM</p>
    </div>
    <div class="col-md-3">
        <p><strong>Outdoor Area: </strong>@Model.OutdoorArea SQM</p>
        <p>
            <strong>Landplot Size: </strong><span>
                @Model.LandPlotSize SQM
            </span>
        </p>
        <p><strong>Price: </strong>@Model.Price @Model.Currency.ToString()</p>
    </div>
</div>
<div class="row">
    <div class="col-5">

    </div>
    <div class="col-7">
        <a asp-controller="Properties" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
        <a asp-controller="Properties" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-controller="Properties" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

    </div>
</div>
<hr class="my-4">
