@model  HomePropertiesViewModel

<a class="list-group-item clearfix" href="">
    <div class="col-md-3">
        <img class="media-object" src="~/images/home/2.jpg" width="120">
    </div>
    <div class="col-md-3">
        <p><strong>Title: </strong>@Model.Title</p>
        <p><strong>For : </strong>@Model.PropertyType.ToString()</p>
        <p><strong>Floor: </strong>@Model.Floor</p>
    </div>
    <div class="col-md-3">
        <p><strong>Bathrooms: </strong>14 GB</p>
        <p><strong>Bedrooms: </strong>140 GB</p>
        <p><strong>Indoor Area: </strong>@Model.IndoorArea SQM</p>
    </div>
    <div class="col-md-3">
        <p><strong>Outdoor Area: </strong>@Model.OutdoorArea SQM</p>       
        <p>
            <strong>Landplot Size: </strong><span>
                @Model.LandPlotSize SQM
            </span>
        </p>
        <p><strong>Price: </strong>@Model.Price @Model.Currency.ToString()</p>
    </div>
</a>